<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.0" targetFramework="net45" developmentDependency="true" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.1" targetFramework="net45" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.0.47" targetFramework="net45" developmentDependency="true" />
</packages>